body {
    margin: 0;
    font-family: Arial;
}

/* Header */
.header {
    background-color: #131921;
    padding: 10px;
}

.logo {
    color: orange;
    font-size: 28px;
    font-weight: bold;
    display: inline-block;
    margin-right: 20px;
}

.header input {
    width: 300px;
    padding: 5px;
}

.header button {
    padding: 6px;
}

/* Navbar */
.navbar {
    background-color: #232f3e;
    padding: 10px;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
}

/* Banner */
.banner {
    background-color: #e3e6e6;
    padding: 20px;
    text-align: center;
    font-size: 20px;
}

/* Products */
.products {
    padding: 20px;
}

.product {
    width: 200px;
    border: 1px solid gray;
    padding: 10px;
    display: inline-block;
    margin: 10px;
    text-align: center;
}

.product img {
    width: 100%;
}

.product button {
    background-color: orange;
    border: none;
    padding: 5px;
}

/* Footer */
.footer {
    background-color: #131921;
    color: white;
    text-align: center;
    padding: 10px;
}


